#hamburger {
  cursor: pointer;
}

#menu-content {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

#menu-content.open {
  transform: translateX(0%);
  right: 0;
}